.navbar{
    background-color: rgb(182, 182, 182);
    border: 2px solid black;
}

.container > h2 {
    text-align: center;
    font-size: 1.4em;
    margin: 20px;
}

.menu{
    background-color:rgb(182, 182, 182);
}

.container header{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

p{
    padding: 20px;
}

.btn{
    font-size: 1.1em;
    color: rgb(182, 182, 182);
}

.d-block{
    float:right;

}

@media(max-width: 767px){
    .container{
        width: 80%;
    }
}