* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5%;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 30px; 
}

section {
    border: 1px solid black;
    width: 30.33%;
    float: left;
    background-color: rgb(194, 194, 194);
    margin: 1.5%;
}

header {
    border: 1px solid black;
    width : 33.33%;
    float : right;
    clear : left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.chicken > header {
    background-color:aquamarine;
    color: black;
}
.beef > header {
    background-color:brown;
    color: white;
}
.sushi > header {
    background-color:darksalmon;
    color: black;
}

article{
    font-size: 18px;
    padding : 15px;
    float: left;
}

@media(min-width: 768px) and (max-width: 991px){
    section {
        width: 47%;
    }
    .sushi {
        width: 97%;
    }
}

@media(max-width: 767px){
    section {
        width: 97%;
    }
}